In [1]:
import pandas as pd

In [2]:
#Завантажимо всі файли
file2022_2023 = pd.read_csv('SeriaAs2022_2023.csv')
file2021_2022 = pd.read_csv('SeriaAs2021_2022.csv')
file2020_2021 = pd.read_csv('SeriaAs2020_2021.csv')
file2019_2020 = pd.read_csv('SeriaAs2019_2020.csv')

In [4]:
#Робимо один датасет з усіх
df_2019_2023 = pd.concat([file2022_2023, file2021_2022, file2020_2021, file2019_2020], ignore_index = True)

In [5]:
df_2019_2023

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,I1,13/08/2022,17:30,Milan,Udinese,4,2,H,2,2,...,2.16,-1.25,1.98,1.92,2.02,1.91,2.17,1.94,2.06,1.81
1,I1,13/08/2022,17:30,Sampdoria,Atalanta,0,2,A,0,1,...,2.24,0.75,2.07,1.83,2.11,1.82,2.13,1.87,2.06,1.82
2,I1,13/08/2022,19:45,Lecce,Inter,1,2,A,0,1,...,2.55,1.50,1.90,2.00,1.91,2.02,1.96,2.06,1.89,1.97
3,I1,13/08/2022,19:45,Monza,Torino,1,2,A,0,1,...,1.75,0.00,1.79,2.11,1.80,2.15,1.88,2.16,1.83,2.06
4,I1,14/08/2022,17:30,Fiorentina,Cremonese,3,2,H,2,1,...,2.09,-1.00,2.02,1.88,2.06,1.87,2.07,1.97,1.99,1.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,I1,02/08/2020,17:00,Spal,Fiorentina,1,3,A,1,1,...,2.45,1.25,2.05,1.88,2.03,1.89,2.07,1.98,1.98,1.89
1516,I1,02/08/2020,19:45,Bologna,Torino,1,1,D,1,0,...,3.14,-0.75,2.07,1.86,2.03,1.88,2.11,1.88,2.04,1.84
1517,I1,02/08/2020,19:45,Genoa,Verona,3,0,H,3,0,...,2.55,-0.75,1.87,2.06,1.99,1.93,2.00,2.10,1.87,2.01
1518,I1,02/08/2020,19:45,Lecce,Parma,3,4,A,2,2,...,3.34,-1.00,1.87,2.06,1.87,2.05,1.92,2.11,1.85,2.02
1519,I1,02/08/2020,19:45,Sassuolo,Udinese,0,1,A,0,0,...,2.99,-0.50,1.93,2.00,1.92,2.00,1.93,2.11,1.86,2.02

In [6]:
#Тепер почистимо датасет від тих колонок, які нам не потрібні.
final_df_2019_2023 = df_2019_2023[['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR']]

In [7]:
final_df_2019_2023

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,Milan,Udinese,4,2,H,14,9,5,4,5,1,16,13,1,4,0,0
1,Sampdoria,Atalanta,0,2,A,11,9,1,3,3,2,13,21,4,6,0,0
2,Lecce,Inter,1,2,A,10,19,4,9,6,8,21,19,4,2,0,0
3,Monza,Torino,1,2,A,15,13,4,6,2,7,6,17,1,2,0,0
4,Fiorentina,Cremonese,3,2,H,27,13,11,4,11,4,10,19,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,Spal,Fiorentina,1,3,A,7,20,5,11,3,10,6,14,1,1,0,0
1516,Bologna,Torino,1,1,D,13,13,5,11,7,3,15,17,3,3,0,0
1517,Genoa,Verona,3,0,H,4,13,4,3,4,9,8,13,4,0,2,1
1518,Lecce,Parma,3,4,A,12,18,8,11,5,4,3,7,0,2,0,0
1519,Sassuolo,Udinese,0,1,A,18,7,14,3,6,7,9,11,1,1,0,0

In [8]:
#Додамо ще 2 колонки, по набраним очкам. Де HTP - home team points, а ATP - away team points.
#Класично в футболі, за перемогу - 3 бали, нічию - по 1 балу, поразка - 0 балів.
final_df_2019_2023['HTP'] = final_df_2019_2023.apply(lambda row: 1 if row['FTR'] == 'D' else 3 if row['FTR'] == 'H' else 0, axis=1)
final_df_2019_2023['ATP'] = final_df_2019_2023.apply(lambda row: 1 if row['FTR'] == 'D' else 3 if row['FTR'] == 'A' else 0, axis=1)

C:\Users\Bilyi\AppData\Local\Temp\ipykernel_15552\3436672853.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df_2019_2023['HTP'] = final_df_2019_2023.apply(lambda row: 1 if row['FTR'] == 'D' else 3 if row['FTR'] == 'H' else 0, axis=1)
C:\Users\Bilyi\AppData\Local\Temp\ipykernel_15552\3436672853.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df_2019_2023['ATP'] = final_df_2019_2023.apply(lambda row: 1 if row['FTR'] == 'D' else 3 if row['FTR'] == 'A' else 0, axis=1)

In [9]:
final_df_2019_2023

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,HTP,ATP
0,Milan,Udinese,4,2,H,14,9,5,4,5,1,16,13,1,4,0,0,3,0
1,Sampdoria,Atalanta,0,2,A,11,9,1,3,3,2,13,21,4,6,0,0,0,3
2,Lecce,Inter,1,2,A,10,19,4,9,6,8,21,19,4,2,0,0,0,3
3,Monza,Torino,1,2,A,15,13,4,6,2,7,6,17,1,2,0,0,0,3
4,Fiorentina,Cremonese,3,2,H,27,13,11,4,11,4,10,19,0,3,0,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,Spal,Fiorentina,1,3,A,7,20,5,11,3,10,6,14,1,1,0,0,0,3
1516,Bologna,Torino,1,1,D,13,13,5,11,7,3,15,17,3,3,0,0,1,1
1517,Genoa,Verona,3,0,H,4,13,4,3,4,9,8,13,4,0,2,1,3,0
1518,Lecce,Parma,3,4,A,12,18,8,11,5,4,3,7,0,2,0,0,0,3
1519,Sassuolo,Udinese,0,1,A,18,7,14,3,6,7,9,11,1,1,0,0,0,3

In [10]:
%store final_df_2019_2023

Stored 'final_df_2019_2023' (DataFrame)

In [14]:
%store -r ratings_ELO_df

In [15]:

# Виконайте злиття даних за двома стовпцями: HomeTeam та AwayTeam
final_df_with_Elo = final_df_2019_2023.merge(ratings_ELO_df, left_on='HomeTeam', right_on='Team', how='left')
final_df_with_Elo.rename(columns={'Elo_Rating': 'HomeTeam_Elo_Rating'}, inplace=True)  # Перейменуйте стовпець

# Повторіть злиття для AwayTeam
final_df_with_Elo = final_df_with_Elo.merge(ratings_ELO_df, left_on='AwayTeam', right_on='Team', how='left')
final_df_with_Elo.rename(columns={'Elo_Rating': 'AwayTeam_Elo_Rating'}, inplace=True)  # Перейменуйте стовпець

In [16]:
final_df_with_Elo

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,...,HY,AY,HR,AR,HTP,ATP,Team_x,HomeTeam_Elo_Rating,Team_y,AwayTeam_Elo_Rating
0,Milan,Udinese,4,2,H,14,9,5,4,5,...,1,4,0,0,3,0,Milan,1690.520913,Udinese,1493.953359
1,Sampdoria,Atalanta,0,2,A,11,9,1,3,3,...,4,6,0,0,0,3,Sampdoria,1473.860697,Atalanta,1713.554987
2,Lecce,Inter,1,2,A,10,19,4,9,6,...,4,2,0,0,0,3,Lecce,1405.828176,Inter,1740.246316
3,Monza,Torino,1,2,A,15,13,4,6,2,...,1,2,0,0,0,3,Monza,1519.566564,Torino,1429.219391
4,Fiorentina,Cremonese,3,2,H,27,13,11,4,11,...,0,3,0,1,3,0,Fiorentina,1531.211068,Cremonese,1405.181474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,Spal,Fiorentina,1,3,A,7,20,5,11,3,...,1,1,0,0,0,3,Spal,1314.906722,Fiorentina,1531.211068
1516,Bologna,Torino,1,1,D,13,13,5,11,7,...,3,3,0,0,1,1,Bologna,1488.951320,Torino,1429.219391
1517,Genoa,Verona,3,0,H,4,13,4,3,4,...,4,0,2,1,3,0,Genoa,1470.127690,Verona,1490.815063
1518,Lecce,Parma,3,4,A,12,18,8,11,5,...,0,2,0,0,0,3,Lecce,1405.828176,Parma,1459.320992
1519,Sassuolo,Udinese,0,1,A,18,7,14,3,6,...,1,1,0,0,0,3,Sassuolo,1553.236084,Udinese,1493.953359

In [17]:
%store final_df_with_Elo

Stored 'final_df_with_Elo' (DataFrame)

In [18]:
final_df_with_Elo.to_csv('final_df_with_Elo.csv', index=False)